<% layout('layouts/boilerplate')%>
<div id="map" style="width: 100%; height: 500px"></div>
<!-- https://source.unsplash.com/collection/52314404 -->
   <h1>All Events!</h1>
   <% for (let occasion of occasions){ %>
      <div class="card" mb-3>
          <div class="row">
              <div class="col-md-4">
                  <% if(occasion.images.length){%>
                  <img class="img-fluid" alt="" src="<%=occasion.images[0].url%>">
                  <% }else{ %>
                    <img class="img-fluid" alt="" src="https://res.cloudinary.com/dspoqjo2u/image/upload/v1684730248/cld-sample-2.jpg">
                  <% } %>
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="card-title"><%= occasion.title %></h5>
                      <p class="card-text"><%= occasion.description %></p>
                      <p class="card-text">
                          <small class="text-muted"><%= occasion.location %></small>
                      </p>
                      <a class="btn btn-primary" href="/occasions/<%=occasion._id%>">View <%=occasion.title%></a>
                  </div>
              </div>
          </div>
      </div>
  <% } %>
  <script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const occasions = {features: <%- JSON.stringify(occasions) %>}
  </script>
  <script src="/scripts/clusterMap.js"></script>